aside{

	background:#282828;
	position:fixed;
	width:50%;
	height:100%;
	left:0px;
	top:50px;
	z-index:10;
	ul{
		li{
			list-style: none;
		}
	}
}



.example-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.example-leave {
  opacity: 1;
  transform: translateX(0px);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: translateX(-100%);
  transition: all 300ms ease-in;
}
